.NewtonFractalView {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 15px;
}

.NewtonFractalViewWebGl{
}

.NewtonFractalViewInputs {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}